* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
    cursor: pointer;
}
body{
    height: 100vh;
    background-color:whitesmoke;
}

.menu-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu{
    height: 100%;
    width: 50%;
    background-color: whitesmoke;
    padding: 30px;
    display: none;

}

@keyframes fade-in {
    0%{
        opacity: 0;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes fade-out {
    0%{
        opacity: 1;
        transform: translateY(0px);
    }
    100%{
        opacity: 0;
        transform: translateY(-30px);
    }
}